{% extends 'base.html' %}
{% block title %}Zeus - Valet Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/login.css" />
{% endblock %}
{% block body %}
<div class="container">
  {% if next_vehicle %}
  <div class="row justify-content-md-center mb-4">
    <div style="col-md">
      <div class="alert alert-info" role="alert">
        Please move vehicle to an open charger spot 
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center text-center mb-4 card">
    <div class="col-md">
      <img class="mb-4 mt-4" src="/static/car.png" alt="" width="130" height="100" />
      <h4><span class="badge badge-secondary">{{ next_vehicle.year }} {{ next_vehicle.make }} {{ next_vehicle.model }}</span> is parked in spot <span class="badge badge-secondary">{{ next_vehicle.spot }}</span></h4>

      <form
        class="form-login text-center"
        method="post"
        action="/valet/{{ next_vehicle.id }}/unlock">

        <input class="mb-4 mt-4 btn btn-lg btn-primary btn-block" type="submit" value="Unlock"/>
      </form>
    </div>
  </div>

  {% endif %} {% if open_ev_spots > 0 %}
  <div class="row">
    There are currently {{ open_ev_spots }} open ev spots! No need to remove
    cars from chargers, but just in case you do, the following have exceeded the
    range requested by their owners.
  </p>
  {% endif %} {% if vehicles|length > 0 %}{% for vehicle in vehicles %}
  <row style="border-top: 2px solid #d0d0d0; margin-top: 50px; margin-bottom: 50px; width: 100%;"></row>
  <div class="row justify-content-md-center mb-4">
      <div style="col-md">
        <div class="alert alert-success" role="alert">
          Please move completed vehicles out of charger spot
        </div>
      </div>

  <div class="row justify-content-md-center text-center mb-4 card">
    <div class="col-md mt-4">
      <h4><span class="badge badge-secondary">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</span> is parked in spot <span class="badge badge-secondary">{{ vehicle.spot.id }}</span></h4>
    <form
      class="form-login text-center"
      method="post"
      action="/valet/{{ vehicle.id }}/unlock">
      <input
        type="hidden"
        name="vehicle_id"
        id="username"
        class="form-control top-element"
        value="{{ vehicle.id }}"
        required
        autofocus
      />

      <input
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        value="Unlock"
      />
    </form>
    </div>
  </div>

  </div>

  {% endfor %} {% endif %}
</div>
{% endblock %}
